    <!-- <h1 style="text-align: center;">Ini adalah halaman Tentang Saya</h1>
    <p style="padding-left: 21%;">Saya adalah seorang mahasiswa di Universitas Pamulang dengan jurusan Teknik Informatika</p>
    <p style="padding-left: 21%;">Umur saya 22 tahum</p>
    <p style="padding-left: 21%;">saya tinggal di tangerang</p> -->

    <div class="container">
        <div class="row">
            <!-- <h2 class="text-center p-4">Our Team</h2> -->
            <div class="col text-center">
                <img src="img/midorima.jpg" alt="Rafiul Huda" class="img-fluid" width="200" />
                <h1 class="display-4">Rafi'ul huda</h1>
                <p class="lead text-muted text-sm">Peerta Training Backend Developer - NodeJS Batch 7 Sinarmas Land</p>
            </div>
        </div>
    </div>