<div class="d-flex justify-content-center align-items-center flex-column vh-100">
      <h1 class="mb-2 display-5">Halo, Selamat Datang di Website Kami</h1>
      <p style="margin: 20px; font-family: cursive;">Saat ini Saya sedang Mengikuti coding Training backend di sinarmas land</p>
</div>